{% extends 'main/base.html' %}

{% block content %}
    <section id="showcase-inner" class="py-5 text-white" style="height: 25%">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h1 class="display-4">About This Website</h1>
                    <p class="lead">
                        A collection of the best out-of-copyright short stories, not limited to
                        specific authors or genres. All stories are split into multiple smaller and
                        more easily digestible parts, so you keep track of your bookmarks and schedule
                        daily reading goals according your free time. All stories are in the public
                        domain and can be shared freely.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="about" class="py-4" style="height: 47%">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2>We Only Bring You The Best</h2>
                    <p class="mt-4">
                        Our ever-expanding collection is constantly being curated and updated to both
                        include your favourite stories and introduce you to new ones.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
